{# templates/labs/index.html.twig #}
{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block javascripts_2 %}
    {{ encore_entry_script_tags('labs') }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="row sum_lane_1">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-1">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Statistiques EID des plateformes'|trans|upper }}</h6>
                    <span class="date_filtered">
                        {{ start ~' - '~ end}}
                    </span>
                </div>
                <div class="card-body">
                    {{ render(controller('App\\Controller\\LabsController::labsStat')) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row sum_lane_3">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-1">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Statistiques EID par tranche d\'âge'|trans|upper }}</h6>
                    <span class="date_filtered">
                        {{ start ~' - '~ end}}
                    </span>
                </div>
                <div class="card-body">
                    {{ render(controller('App\\Controller\\LabsController::labsStatAge')) }}
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-1">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Délai d\'exécution'|trans|upper }}</h6>
                    <span class="date_filtered">
                        {{ start ~' - '~ end}}
                    </span>
                </div>
                <div class="card-body">
                    {{ render(controller('App\\Controller\\LabsController::labsTAT')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}