{# templates/labs/stats.html.twig #}

<div id="eid_plateforme_tat">

</div>
<script>
    $(function () {
    var limits = [];
    var tat = new Highcharts.Chart({
    chart: {
    renderTo: "eid_plateforme_tat"
    },
            exporting: {
            buttons: {
            contextButton: {
            enabled: false
            }
            }
            },
            credits: {
            enabled: false
            },
            legend: {
            enabled: true,
                    reversed: true
            },
            tooltip: {
            formatter: function () {
    {% for key,value in limits %}   
            limits["{{key}}"] = [[{{value['limits'][0][0]~','~value['limits'][0][1]~'],['~value['limits'][1][0]~','~value['limits'][1][1]~'],['~value['limits'][2][0]~','~value['limits'][2][1]}}]];
    {% endfor %}
                var s = '<b>' + this.x + '</b>',
                        sum = 0;
                $.each(this.points, function (i, point) {
                s += '<br/> <span style="color: ' + point.series.color + '">\u25A0</span> ' + point.series.name + ': ' +
                        '<b>' + Math.abs(point.y) + '</b>';
                if (i < 3){
                s += '<b> {{'Jours'|trans}} (Min:' + limits[this.x][i][0] + ', Max:' + limits[this.x][i][1] + ')</b>';
                sum += point.y;
                }
                });
                s += '<br/>Total:  <b>' + Math.abs(sum) + ' {{'Jours'|trans}}</b>';
                return s;
                },
                        shared: true

                },
                title: {
                text: ''
                },
                xAxis: {
                categories:{{categories|raw}}
                },
                yAxis: [
                {
                labels: {
                formatter: function() {
                return this.value;
                },
                        style: {
                        }
                },
                        title: {
                        text: '{{'Nombre de Tests'|trans}}',
                                style: {
                                color: '#021225'
                                }
                        },
                        opposite: true
                },
                {
                min: 0,
                        title: {
                        text: '{{'TAT (Jours)'|trans}}'
                        },
                        stackLabels: {
                        enabled: true,
                                style: {
                                fontWeight: 'bold',
                                        color: (// theme
                                                Highcharts.defaultOptions.title.style &&
                                                Highcharts.defaultOptions.title.style.color
                                                ) || 'gray'
                                }
                        }
                }],
                plotOptions: {
                column: {
                stacking: "normal",
                        dataLabels: {
                        enabled: false
                        }
                }, spline: {
                lineWidth: 1,
                        marker: {
                        fillColor: '#00ff99',
                                lineWidth: 3,
                                lineColor: '#021225',
                                symbol: "triangle-down"
                        },
                        states: {
                        hover: {
                        enabled: false
                        }
                        }
                }
                },
                series:{{series |raw}}.reverse()
        });
        });
</script> 