{# templates/partner/partner_overview.html.twig #}
    <div class="row sum_lane_1">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-1">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Resultat EID par partenaire'|trans|upper }}</h6>
                    <span class="date_filtered">
                        {{ start ~' - '~ end}}
                    </span>
                </div>
                <div class="card-body" >
                    {{ render(controller('App\\Controller\\PartnerController::eidOutcomesByPartners')) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row sum_lane_2">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card shadow mb-4">
                <div class="card-header py-1">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Statistiques EID par partenaire'|trans|upper }}</h6>
                    <span class="date_filtered">
                        {{ start ~' - '~ end}}
                    </span>
                </div>
                <div class="card-body">
                    {{ render(controller('App\\Controller\\PartnerController::partnersStat')) }}
                </div>
            </div>
        </div>
    </div>