{# templates/labs/stats.html.twig #}
<div class="" id="eid_partner_stats">
        <table id="partner_stats_{{app.request.locale}}" class="table table-responsive-md table-striped table-bordered dt-responsive"  style="width:100%">
            <thead>
                <tr>
                    <th rowspan="2">{{ 'N°'|trans }}</th>
                    <th rowspan="2">{{ 'Partenaire'|trans }}</th>
                    <th rowspan="2">{{ 'Total'|trans }}</th>
                    <th rowspan="2">{{ 'Positif'|trans }}</th>
                    <th rowspan="2">{{ 'Invalide'|trans }}</th>
                    <th colspan="2" style="text-align: center">{{ 'Moins de 2 mois'|trans }}</th>
                    <th colspan="2" style="text-align: center">{{ '2 - 6 mois'|trans }}</th>
                    <th colspan="2" style="text-align: center">{{ '6 - 12 mois'|trans }}</th>
                    <th colspan="2" style="text-align: center">{{ '12 - 18 mois'|trans }}</th>
                </tr>
                <tr>
                    <th style="text-align: center;font-size:0.8em">{{ 'Total'|trans }}</th>
                    <th style="text-align: center;font-size:0.8em">{{ 'Positif'|trans }}</th>
                    <th style="text-align: center;font-size:0.8em">{{ 'Total'|trans }}</th>
                    <th style="text-align: center;font-size:0.8em">{{ 'Positif'|trans }}</th>
                    <th style="text-align: center;font-size:0.8em">{{ 'Total'|trans }}</th>
                    <th style="text-align: center;font-size:0.8em">{{ 'Positif'|trans }}</th>
                    <th style="text-align: center;font-size:0.8em">{{ 'Total'|trans }}</th>
                    <th style="text-align: center;font-size:0.8em">{{ 'Positif'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% set n = 1 %}
                {% for stat in stats %}
                    <tr>
                        <td>{{ n }}</td>
                        <td>{{ stat['partner'] }}</td>
                        <td>{{ stat['total'] }}</td>
                        <td>{{ stat['positif'] }}</td>
                        <td>{{ stat['invalide'] }}</td>
                        <td>{{ stat['moins_2'] }}</td>
                        <td>{{ stat['moins_2_positif'] }}</td>
                        <td>{{ stat['moins_6'] }}</td>
                        <td>{{ stat['moins_6_positif'] }}</td>
                        <td>{{ stat['moins_12'] }}</td>
                        <td>{{ stat['moins_12_positif'] }}</td>
                        <td>{{ stat['moins_18'] }}</td>
                        <td>{{ stat['moins_18_positif'] }}</td>
                    </tr>
                    {% set n = n+1 %}
                {% endfor %}
            </tbody>
        </table>
</div>