{# templates/includes/filter.html.twig #}
<div class="pane_filter row">
    <div class="col-md-8">
        <i class="glyphicon glyphicon-filter"></i>
    </div>
    <div class="col-md-4">
        <div class="" id="range">
            <div class="input-group input-group-sm mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'Début'|trans }} </span>
                </div>
                <input name="startDate" id="startDate_{{app.request.locale}}" class="form-control form-control-sm date-picker" placeholder="{{ 'De:'|trans }}" />
                <div class="input-group-prepend">
                    <span class="input-group-text">{{ 'Fin'|trans }} </span>
                </div>
                <input name="endDate" id="endDate_{{app.request.locale}}" class="form-control form-control-sm date-picker" placeholder="{{ 'A:'|trans }}" />
                <div class="input-group-append">
                    <button type="button" id="filter" class="btn btn-sm   btn-outline-secondary date-pickerBtn" style="" onclick="setDateFilter('{{app.request.locale}}')"><center>{{ 'Filtrer'|trans }}</center></button>
                </div>
                <div class="input-group-append">
                    &nbsp;<button type="button" id="reset_date_filter" class="btn btn-sm btn-outline-secondary date-pickerBtn" style="" onclick="resetDateFilter('{{app.request.locale}}')"><center>{{ 'Annuler'|trans }}</center></button>
                </div>
            </div>
        </div>
    </div>
</div>
