{# templates/organization/region/region_details.html.twig#}

<div class="row sum_lane_1">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-1">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Tendances des tests'|trans|upper ~ ' ~ ' ~ region.name}}</h6>
                <span class="date_filtered">
                    {{ start ~' - '~ end}}
                </span>
            </div>
            <div class="card-body" >
                {{ render(controller('App\\Controller\\RegionController::testsTrendsRegion',{'region_id':region_id})) }}
            </div>
        </div>
    </div>
</div>
<div class="row sum_lane_2">
    <div class="col-md-5">
        <div class="card shadow mb-4">
            <div class="card-header py-1">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Resultat EID de la region'|trans|upper  ~ ' ~ ' ~ region.name}}</h6>
                <span class="date_filtered">
                    {{ start ~' - '~ end}}
                </span>
            </div>
            <div class="card-body">
                {{ render(controller('App\\Controller\\RegionController::regionOutcomes',{'region_id':region_id})) }}
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card shadow mb-4">
            <div class="card-header py-1">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Resultat EID de la region par age'|trans|upper  ~ ' ~ ' ~ region.name}}</h6>
                <span class="date_filtered">
                    {{ start ~' - '~ end}}
                </span>
            </div>
            <div class="card-body">
                      {{ render(controller('App\\Controller\\RegionController::regionOutcomesByAge',{'region_id':region_id})) }}
            </div>
        </div>
    </div>
</div>
<div class="row sum_lane_3">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-1">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Statistiques des tests par district'|trans|upper  ~ ' ~ ' ~ region.name}}</h6>
                <span class="date_filtered">
                    {{ start ~' - '~ end}}
                </span>
            </div>
            <div class="card-body" >
                 {{ render(controller('App\\Controller\\DistrictController::districtsStat',{'region_id':region_id})) }}
            </div>
        </div>
    </div>
</div>
<div class="row sum_lane_4">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-1">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Repartition des resultats par district'|trans|upper  ~ ' ~ ' ~ region.name}}</h6>
                <span class="date_filtered">
                    {{ start ~' - '~ end}}
                </span>
            </div>
            <div class="card-body" >
                 {{ render(controller('App\\Controller\\RegionController::regionOutcomesByDistrict',{'region_id':region_id})) }}
            </div>
        </div>
    </div>
</div>                   
