{# templates/organization/district/index.html.twig #}
{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block javascripts_2 %}
    <script>
        $(document).ready(function () {
            $('#org_district').val(0);
            $('#org_district').select2({
                placeholder: '{{'Choisir un district'|trans}}'
            });
            $('#org_district').on("change", function () {
                $('.loader').removeClass('hidden');
                var district_id = $(this).val();
                if (district_id == 0) {
                    $.post('{{url('app_org_district')}}' + '/overview', null, function (data) {
                        $('.pane-default').html(data);
                        $('.loader').addClass('hidden');
                    });
                } else {
                    $.post('{{url('app_org_district')}}' + '/district_details/' + district_id, null, function (data) {
                        $('.pane-default').html(data);
                        refreshDataTable();
                        $('.loader').addClass('hidden');
                    });
                }
            });
        });
    </script>
    {{ encore_entry_script_tags('orgs') }}
{% endblock %}
{% block body %}
    {{ parent() }}
    {{ render(controller('App\\Controller\\IndexController::districtFilter')) }}
    <div class="pane-default">
        {{ render(controller('App\\Controller\\DistrictController::districtOverview')) }}
    </div>
{% endblock %}  